.carousel-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Adjust the width as needed */
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
  bottom: 40px;
}

.carousel-indicators button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.5);
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
}

.search-btn {
  margin-left: 10px; /* Add margin between input and button */
  padding: 8px 20px;
  border-radius: 20px;
}